<svg
  xmlns='http://www.w3.org/2000/svg'
  aria-hidden='true'
  focusable='false'
  class='icon icon-minus'
  fill='none'
  viewBox='0 0 24 24'
>
  <defs><style>.a5a4c75b-9f21-4030-a9cc-ef78ad2fbf52{fill:currentColor;}</style></defs><title>minus</title><path class="a5a4c75b-9f21-4030-a9cc-ef78ad2fbf52" d="M3.43,13.63V9.24H20.57v4.39Z" transform="translate(-3.43 -2.24) scale(1.2)"/>
</svg>
