<svg
  xmlns='http://www.w3.org/2000/svg'
  aria-hidden='true'
  focusable='false'
  class='icon icon-plus'
  fill='none'
  viewBox='0 0 24 24'
>
  <defs><style>.ea844fb8-a1b6-4a0d-9312-31aa7901b5c9{fill:currentColor;}</style></defs><title>plus</title><path class="ea844fb8-a1b6-4a0d-9312-31aa7901b5c9" d="M3.43,13.63V9.24H20.57v4.39Zm6.23,6.12V3.12H14.3V19.75Z" transform="translate(-3.43 -3.12) scale(1.2)"/>
</svg>
