<div
  class='tw-h-full tw-w-full tw-flex tw-justify-center tw-items-center tw-p-10'
>
  <div>
    <h6
      class='tw-typ-small-1 tw-text-background tw-text-center'
    >
      {{- eyebrow -}}
    </h6>
    <h4
      class='tw-typ-h2-subheading-b tw-text-background tw-text-center'
    >
      {{- title -}}
    </h4>
    <hr class='tw-my-[20px] tw-h-[1px] tw-bg-background tw-w-12 tw-mx-auto'>
    <p class='tw-typ-eyebrow-a tw-text-background tw-text-center'>
      {{- comment | truncate: 330 -}}
    </p>
  </div>
</div>
