<div
  class='twcss-h-full twcss-w-full twcss-flex twcss-justify-center twcss-items-center twcss-p-10'
>
  <div>
    <h6
      class='twcss-typ-small-1 twcss-text-background twcss-text-center'
    >
      {{- eyebrow -}}
    </h6>
    <h4
      class='twcss-typ-h2-subheading-b twcss-text-background twcss-text-center'
    >
      {{- title -}}
    </h4>
    <hr class='twcss-my-[20px] twcss-h-[1px] twcss-bg-background twcss-w-12 twcss-mx-auto'>
    <p class='twcss-typ-eyebrow-a twcss-text-background twcss-text-center'>
      {{- comment | truncate: 330 -}}
    </p>
  </div>
</div>
