<div
  class='tw-h-full tw-w-full tw-flex tw-justify-between tw-flex-col tw-p-10'
>
  <div>
    {%- render 'icon-chevron-open' -%}
  </div>
  <div>
    <h5
      class='tw-typ-h5-subtopic-3-a tw-mb-[40px] tw-text-background md:tw-text-[15px] lg:tw-mb-[60px] lg:tw-text-2xl'
    >
      {{- comment | truncate: 330 -}}
    </h5>
    <div class='tw-flex tw-flex-col tw-border-l tw-pl-[11px]'>
      <h4
        class='tw-typ-h4-subtopic-2 tw-capitalize tw-text-background'
      >
        {{- author -}}
      </h4>
      <span class='tw-body-2 tw-text-background'>
        {{- charge -}}
      </span>
    </div>
  </div>
  <div class='tw-flex tw-justify-end'>
    {%- render 'icon-chevron-close' -%}
  </div>
</div>
