<div class="twcss-rotate-180 twcss-ml-[16px]">
    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
      <path d="M5.00078 10L6.17578 8.825L2.35912 5L6.17578 1.175L5.00078 -1.02722e-07L0.000781973 5L5.00078 10Z" fill="#262626"/>
    </svg>
  </div>