{% schema %}
{
  "name": "Fullwidth Banner",
  "settings": [
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "background_image"
    },
    {
      "type": "richtext",
      "label": "Content",
      "id": "content",
      "default": "<p>Test Text</p>"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text",
      "default": "Button Text"
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "button_link"
    }
  ],
  "presets": [
    {
      "name": "UR Fullwidth Banner",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div
  class='fullwidth-banner xmin-h-[400px]'
  style="background-image: url('{{ section.settings.background_image.src | img_url: "x500" }}');"
>
  <div class=''>
    <div class='xflex xitems-start xflex-col xjustify-center container page-width xtext-white xp-8  xmin-h-[400px] '>
      <div class='richtext xp-8 !xtext-white white'>
        {{ section.settings.content }}
      </div>
      <a
        href='{{ section.settings.button_link }}'
        class='button white'
      >
        {{- section.settings.button_text -}}
      </a>
    </div>
  </div>
</div>

<style>
  /* Custom CSS styles for the Fullwidth Banner section */
  .fullwidth-banner {
    /* Add your background styles here */
    background-size: cover;
    background-position: center;
    /* Adjust other styles as needed */
  }

  .fullwidth-banner-content {
    /* Add styles for the content container */
  }

  .richtext {
    /* Add styles for the rich text content */
  }

  .fullwidth-banner-button {
    /* Add styles for the button */
  }
</style>
