<style type="text/scss">
  .error-figure {
    padding-bottom: 100vw;
    height: 0;
    
    position: relative;
    width: 100%;
    img {
      @apply absolute top-0 left-0 w-full h-full object-cover;
    }
    @include at-query ($min, $medium) {
      padding-bottom: 40%;
    }
  }
</style>

<div class="">
  <h1>Naman's custom 404 page template 100 emoji</h1>
  <img src="{{ section.settings.image_1 }}" width="" height="" alt="404 Left Image">
  <img src="{{ section.settings.image_2 }}" width="" height="" alt="404 Right Image">
  <h1>{{ section.settings.404_title }}</h1>
  <p>{{ section.settings.404_body }}</p>

  <div class="flex flex-col md:flex-row relative">
    <figure class="error-figure">
      {% comment %} <SanityImage v-if="imageOne" :image="imageOne" /> {% endcomment %}
    </figure>
    <figure class="error-figure">
      {% comment %} <SanityImage v-if="imageTwo" :image="imageTwo" /> {% endcomment %}
    </figure>
    <div class="absolute-center-v-h text-ll-new-gray note tex-gyre max-w-[282px] text-center">
      {% comment %} <p v-text="title" /> {% endcomment %}
       {% comment %} {% image %} {% endcomment %}
      {% comment %} <SanityContent :blocks="content" v-if="content" /> {% endcomment %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "404 Page",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Left Image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Right Image"
    },
    {
      "type": "text",
      "id": "404_title",
      "label": "404 Title",
      "default": "404"
    },
    {
      "type": "text",
      "id": "404_body",
      "label": "404 Body Type",
      "default": "The page you are looking for either doesn’t exist or has moved or something else has happened."
    }
  ],
  "presets": [
    {
      "name": "404 Settings",
      "category": "Pages"
    }
  ]
}
{% endschema %}
