<div class='twcss-w-full twcss-text-right twcss-bg-gray-200 twcss-py-2 twcss-px-4'>
  <div class='twcss-max-w-[1440px] twcss-m-auto'>Contact us | Find a Stockist | Account</div>
</div>

{% schema %}
{
  "name": "My Slideshow",
  "tag": "section",
  "class": "MY-slideshow",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "MY Slideshow"
    }
  ],
  "presets": [
    {
      "name": "My Slideshow",
      "settings": {
        "title": "My Slideshow"
      }
    }
  ],
  "locales": {
    "en": {
      "title": "My slideshow"
    },
    "fr": {
      "title": "Diaporama"
    }
  },
  "enabled_on": {
    "templates": ["*"],
    "groups": ["footer"]
  }
}
{% endschema %}
