<div class='twcss-w-full twcss-text-right twcss-bg-gray-200 twcss-py-2'>
  <div class='twcss-max-w-[1440px] twcss-m-auto twcss-px-20'>Contact us | Find a Stockist | Account</div>
</div>

{% schema %}
{
  "name": "Pre Header",
  "tag": "section",
  "class": "pre-header",
  "limit": 1,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    }
  ],
  "presets": [
    {
      "name": "Pre Header"
    }
  ],
  "locales": {
    "en": {
      "title": "Pre Header"
    }
  },
  "enabled_on": {
    "groups": ["header"],
    "templates": ["*"]
  }
}
{% endschema %}
