<div class='swiper-container'>
  <div class='swiper-wrapper ur-product-swiper'>
    {%- for product in section.settings.collection.products -%}
      <div class='swiper-slide card-wrapper product-card-wrapper underline-links-hover'>
        {% render 'card-product', card_product: product %}
      </div>
    {% endfor %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiperConfigProducts = {
      loop: true,
      slidesPerView: 4,
      spaceBetween: 10,
      autoplay: {
        delay: 5000,
      },
    };

    //Swiper Init
    const swiper = new Swiper('.ur-product-swiper', swiperConfigProducts);
    console.log('Product Swiper loadad');
    console.log(swiper);
  });
</script>

{% schema %}
{
  "name": "Product Card Swiper",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a Collection"
    }
  ],
  "presets": [
    {
      "name": "UR Product Card Swiper",
      "category": "Custom"
    }
  ]
}
{% endschema %}
