{% schema %}
{
  "name": "Product Content",
  "settings": [],
  "presets": [
    {
      "name": "UR Product Content",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<style>
  .product-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
  }

  .product-content-item {
    margin: 10px;
  }

  .product-content-text {
    max-width: 330px;
  }

  /* Responsive design for smaller screens */
  @media (max-width: 600px) {
    .product-contents {
      flex-direction: column;
    }
  }
</style>

<div class='page-width'>
  <div class='product-contents xmy-16 xmt-24'>
    {% for i in (1..4) %}
      {% assign heading_key = 'content' | append: i | append: '_heading' %}
      {% assign text_key = 'content' | append: i | append: '_text' %}
      {% assign img_key = 'content' | append: i | append: '_img' %}

      {% assign heading = product.metafields.custom[heading_key] %}
      {% assign text = product.metafields.custom[text_key] %}
      {% assign img = product.metafields.custom[img_key] %}
      {% assign img_options = 'class:product-content-image loading:lazy' %}

      {% if heading or text or img %}
        <div class='product-content-item xflex xflex-col xitems-center'>
          {% if img %}
            {{ img | media_tag: image_size: '180x180' }}
          {% endif %}
          {% if heading %}
            <h2 class='xmt-8'>{{ heading }}</h2>
          {% endif %}
          {% if text %}
            <div class='product-content-text xtext-center xmt-4'>{{ text | metafield_tag }}</div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
