<div class='page-width !xmy-24 md:!xmy-48'>
  <div class='richtext-section left xgrid xgrid-cols-1 md:xgrid-cols-2 xw-full xgap-16'>
    <div class='richtext-left !xfont-semibold'>
      {{ section.settings.richtext_left }}
    </div>

    <div class='richtext-right'>
      {{ section.settings.richtext_right }}
      
      <style>
        svg {
          width: 25px !important;
        }
      </style>
{% render "icon-3d-model" %}
{% render "icon-account" %}
{% render "icon-caret" %}
{% render "icon-cart-empty" %}
{% render "icon-cart" %}
{% render "icon-checkmark" %}
{% render "icon-clipboard" %}
{% render "icon-close-small" %}
{% render "icon-close" %}
{% render "icon-discount" %}
{% render "icon-error" %}
{% render "icon-facebook" %}
{% render "icon-filter" %}
{% render "icon-hamburger" %}
{% render "icon-info" %}
{% render "icon-instagram" %}
{% render "icon-meat-color" %}
{% render "icon-meat" %}
{% render "icon-minus" %}
{% render "icon-no-animals-color" %}
{% render "icon-no-animals" %}
{% render "icon-no-chemicals-color" %}
{% render "icon-no-chemicals" %}
{% render "icon-no-gluten-color" %}
{% render "icon-no-gluten" %}
{% render "icon-no-sugar-color" %}
{% render "icon-no-sugar" %}
{% render "icon-organic-color" %}
{% render "icon-organic" %}
{% render "icon-padlock" %}
{% render "icon-pause" %}
{% render "icon-pinterest" %}
{% render "icon-play" %}
{% render "icon-plus" %}
{% render "icon-region-color" %}
{% render "icon-region" %}
{% render "icon-remove" %}
{% render "icon-search" %}
{% render "icon-share" %}
{% render "icon-snapchat" %}
{% render "icon-success" %}
{% render "icon-tick" %}
{% render "icon-tiktok" %}
{% render "icon-tumblr" %}
{% render "icon-twitter" %}
{% render "icon-unavailable" %}
{% render "icon-vimeo" %}
{% render "icon-with-text" %}
{% render "icon-youtube" %}
{% render "icon-zoom" %}

    </div>
  </div>
</div>

{% schema %}
{
  "name": "UR TwoText Fields",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "richtext_left",
      "label": "Left Text",
      "default": "<p>This is the default left text.</p>"
    },
    {
      "type": "richtext",
      "id": "richtext_right",
      "label": "Right Text",
      "default": "<p>This is the default right text.</p>"
    }
  ],
  "presets": [
    {
      "name": "UR TwoText Fields",
      "category": "Custom"
    }
  ]
}
{% endschema %}
