@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rooney';
  src: url("{{ 'rooney-regular.woff2' | asset_url }}") format('woff2'),
    url("{{ 'rooney-regular.woff' | asset_url }}") format('woff'),
    url("{{ 'rooney-regular.otf' | asset_url }}") format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'Rooney';
  src: url("{{ 'rooney-medium.woff2' | asset_url }}") format('woff2'),
    url("{{ 'rooney-medium.woff' | asset_url }}") format('woff'),
    url("{{ 'rooney-medium.otf' | asset_url }}") format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'Rooney';
  src: url("{{ 'rooney-bold.woff2' | asset_url }}") format('woff2'),
    url("{{ 'rooney-bold.woff' | asset_url }}") format('woff'),
    url("{{ 'rooney-bold.otf' | asset_url }}") format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'Rooney';
  src: url("{{ 'rooney-heavy.woff2' | asset_url }}") format('woff2'),
    url("{{ 'rooney-heavy.woff' | asset_url }}") format('woff'),
    url("{{ 'rooney-medheavyum.otf' | asset_url }}") format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

body {
  --swiper-navigation-size: 24px;
  --swiper-theme-color: #151515;
  --page-width: 140rem;
  --font-heading-family: 'Rooney' !important;
  --font-heading-weight: 900 !important;
  --ur-base: #3f352a;
  --ur-border: #e0d7bd;
  text-decoration-color: #3f352a;
  --font-body-weight: 400;
  --media-border-width: 0px:
}

header,
.localization-form__select span {
  font-family: 'Rooney';
  font-weight: 700 !important;
  font-size: 1.5rem;
}

.banner__box {
  clip-path: url(#ur-clip);
  aspect-ratio: 1;
}
.header__menu-item {
  @apply !xtext-beige-900 !xtext-2xl;
}

.option-btn {
  @apply xmr-4 xborder-gray-900 xborder xrounded-full hover:xbg-gray-900 xtext-gray-900  hover:xtext-white xpx-6 xpy-2 xtransition-all xfont-bold;
}

.option-btn.active {
  @apply xbg-gray-900 xtext-white;
}

.ur-button {
  @apply xmt-8 xmr-4 xtext-white xborder-green-600 xbg-green-600 xborder-2 xrounded-full hover:xbg-white   hover:xtext-gray-900 xpx-8 xpy-4 xtransition-all xfont-bold xtext-2xl;
}

.plan-selector-btn .select-indicator {
  display: none !important;
}

.plan-selector-btn.active .select-indicator {
  display: block !important;
}

.custom-number-input input[type='number']::-webkit-inner-spin-button,
.custom-number-input input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: block !important;
}

@media (min-width: 750px) {
  .ur-product-images {
    width: calc(100% - 46rem);
  }
}
