@tailwind base;
@tailwind components;
@tailwind utilities;

/*! in the migration the following line should be deleted */
.btn-primary {
  cursor: pointer;
  line-height: inherit;
  border-radius: 0.25rem;
  font-weight: 700;
  outline: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1.125rem;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 0.2s;
  background: #585656;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
