@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rooney';
  src: url('RooneyRegular.eot');
  src: url('RooneyRegular.eot?#iefix') format('embedded-opentype'),
    url('RooneyRegular.woff2') format('woff2'),
    url('RooneyRegular.woff') format('woff'),
    url('RooneyRegular.ttf') format('truetype'),
    url('RooneyRegular.svg#RooneyRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rooney';
  src: url('RooneyHeavy.eot');
  src: url('RooneyHeavy.eot?#iefix') format('embedded-opentype'),
    url('RooneyHeavy.woff2') format('woff2'),
    url('RooneyHeavy.woff') format('woff'),
    url('RooneyHeavy.ttf') format('truetype'),
    url('RooneyHeavy.svg#RooneyHeavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rooney';
  src: url('RooneyBold.eot');
  src: url('RooneyBold.eot?#iefix') format('embedded-opentype'),
    url('RooneyBold.woff2') format('woff2'),
    url('RooneyBold.woff') format('woff'),
    url('RooneyBold.ttf') format('truetype'),
    url('RooneyBold.svg#RooneyBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rooney';
  src: url('RooneyMedium.eot');
  src: url('RooneyMedium.eot?#iefix') format('embedded-opentype'),
    url('RooneyMedium.woff2') format('woff2'),
    url('RooneyMedium.woff') format('woff'),
    url('RooneyMedium.ttf') format('truetype'),
    url('RooneyMedium.svg#RooneyMedium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  --swiper-navigation-size: 24px;
  --swiper-theme-color: #3f352a;
  --page-width: 140rem;
  --font-heading-family: 'Rooney' !important;
  --font-heading-weight: 900 !important;
  --ur-base: #3f352a;
  --ur-border: #e0d7bd;
  text-decoration-color: #3f352a;
  --font-body-weight: 400;
  --media-border-width: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
.localization-form__select span {
  font-family: 'Rooney';
  font-weight: 700 !important;
  font-size: 1.5rem;
}
.facet-filters__sort + .icon-caret {
  width: 20px !important;
  height: 20px !important;
  top: 0.2rem !important;
  right: -0.15rem !important;
}

.facets__display,
.global-settings-popup {
  @apply !xrounded-3xl;
}

/* @media (min-width: 750px) {
  .banner__box {
    clip-path: url(#ur-clip);
    aspect-ratio: 1;
    max-width: 35.5rem !important;
    padding-top: 7rem !important;
  }
} */
.ur-button,
.button {
  font-family: 'Rooney' !important;
}

.collection-hero__title {
  @apply !xmt-24;
}

.facets__form {
  font-weight: 600;
}
.facets__summary .icon-caret {
  right: -0.5rem !important;
  top: 0.05rem !important;
}

.multicolumn.background-primary .multicolumn-card {
  background: #ece7d8 !important;
  @apply xborder-2 xborder-beige-300 xrounded-3xl;
}

.header__menu-item {
  @apply !xtext-beige-900 !xtext-2xl;
}

.card__heading.h5 {
  @apply !xtext-3xl;
}

.quantity {
  @apply !xbg-lightbeige !xp-2;
  width: 174px !important;
}
.ur-collection-card {
  text-decoration-color: #e0d7bd !important;
}
.ur-collection-card:hover {
  text-decoration: underline !important;
  text-decoration-color: #e0d7bd !important;
}

.back .icon-arrow {
  @apply xrotate-180;
}

.richtext.beige h1,
.richtext.beige h2,
.richtext.beige h3,
.richtext.beige h4,
.richtext.beige h5,
.richtext.beige p {
  @apply !xtext-beige-200;
}

.richtext h1,
.richtext h2,
.richtext h3,
.richtext h4,
.richtext h5 {
  @apply !xmb-4;
}

.richtext.no-margin h1,
.richtext.no-margin h2,
.richtext.no-margin h3,
.richtext.no-margin h4,
.richtext.no-margin h5 {
  @apply !xmb-0;
}

.slider-counter__link--active.slider-counter__link--dots .dot {
  @apply !xbg-beige-900;
}

.slideshow__autoplay .icon.icon-play,
.slideshow__autoplay .icon.icon-pause,
.slider-button .icon {
  height: 2.4rem !important;
  width: auto !important;
}

.header__icon .icon.icon-account {
  height: 2.5rem;
  width: 2.5rem;
}

.button {
  @apply !xtransition-all !xfont-semibold hover:xborder-2 xborder-beige-950;
  --border-offset: 0px !important;
  --border-color: rgb(33 28 15);
}

.product-form__submit {
  @apply !xbg-black !xtext-beige-200 !xborder-2 !xborder-black !xtransition-all;
  --border-offset: 0px !important;
  --border-opacity: unset;
}

.product-form__submit:hover {
  @apply !xbg-beige !xtext-black;
  --border-offset: 0px !important;
  --border-opacity: unset;
}

.button:hover {
  @apply xborder-2 xborder-black xbg-beige-200 xtext-black;
  --border-offset: 0px !important;
}

.button.beige {
  @apply !xtransition-all !xbg-beige-200 !xtext-black !xborder-beige-200 hover:!xbg-black hover:!xtext-beige-200;
  --border-offset: 0px !important;
  --border-opacity: unset;
}

.button.beige:hover {
  --border-offset: 0px !important;
  --border-opacity: unset;
}

.quantity__input {
  @apply !xrounded-lg !xw-24  !xoutline-none focus:!xoutline-none !xtext-center  !xfont-semibold  hover:!xtext-black focus:!xtext-black   !xflex !xitems-center !xtext-black  !xoutline-none  !xbg-lightbeige  !xbg-white;
}

.quantity__button {
  @apply !xw-20 !xh-20 !xrounded-full hover:!xbg-beige-300 !xtransition-all !xcursor-pointer;
}

.richtext-section.left h1 {
  font-weight: 600 !important;
}

.collapsible-content summary:hover {
  background: inherit !important;
}

.quantity:after {
  display: none !important;
  @apply xmt-4;
  /* @apply !xrounded-full; */
}
.option-btn {
  @apply xmr-4 xborder-gray-900 xborder xrounded-full hover:xbg-gray-900 xtext-gray-900  hover:xtext-white xpx-6 xpy-2 xtransition-all xfont-bold;
}

.option-btn.active {
  @apply xbg-gray-900 xtext-white;
}

.ur-button {
  @apply xmt-8 xmr-4 xtext-white xborder-green-600 xbg-green-600 xborder-2 xrounded-full hover:xbg-white   hover:xtext-gray-900 xpx-8 xpy-4 xtransition-all xfont-bold xtext-2xl;
}

.plan-selector-btn .select-indicator {
  display: none !important;
}

.plan-selector-btn.active .select-indicator {
  display: block !important;
}

.custom-number-input input[type='number']::-webkit-inner-spin-button,
.custom-number-input input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: block !important;
}

.accordion__title.h4 {
  @apply xtext-4xl !xfont-semibold;
}

.accordion,
.accordion details {
  @apply !xrounded-3xl xoverflow-clip;
}

.accordion summary {
  @apply !xp-8 !xjustify-between;
}

.collapsible-content__grid--reverse.collapsible-content__grid {
  @apply !xitems-center !xflex-nowrap md:!xflex-wrap !xgap-16;
}

@media (min-width: 1000px) {
  .collapsible-content__grid--reverse.collapsible-content__grid {
    flex-wrap: nowrap !important;
  }
}

@media (min-width: 750px) {
  .ur-product-images {
    width: calc(100% - 46rem);
  }
}
.card__badge {
  @apply xfont-semibold;
}
.card__badge.top {
  margin: 1.3rem;
}

.color-accent-2 {
  --color-badge-foreground: 255, 255, 255;
  --color-badge-background: 230, 167, 101;
}

.header__icon .icon {
  fill: currentColor !important;
}
.icon.icon-hamburger {
  width: 2.5rem;
  height: 2.5rem;
}

summary {
  cursor: pointer;
  list-style: none;
}
details[open] summary ~ * {
  animation: toggle 0.2s ease-in-out;
}
@keyframes toggle {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.accordion details svg {
  transition: all 0.3s ease;
}

.accordion details[open] svg {
  transform: rotate(90deg);
}

.accordion details[open] .summary__title svg {
  transform: rotate(0deg) !important;
}

.menu-drawer__close-button svg {
  rotate: 180deg;
}

/* JudgeMe Reviews */
.shopify-block[data-block-handle='featured_carousel'] > div {
  max-width: unset !important;
}

.jdgm-carousel-wrapper {
  width: 100% !important;
}
.jdgm-carousel-title-and-link {
  @apply !xpr-8;
}
.jdgm-carousel-title {
  text-align: left !important;
}

.jdgm-carousel-wrapper .jdgm-all-reviews-rating-wrapper {
  display: block;
  text-align: left !important;
}

.jdgm-carousel__arrows {
  text-align: right !important;
}

.jdgm-carousel-item__review-title {
  font-family: 'Rooney';
  font-size: 1.8rem;
}

.jdgm-carousel__right-arrow,
.jdgm-carousel__left-arrow {
  @apply !xborder-beige-900 !xborder-2;
  border: 2px none #4e4b4b;
  width: 10px !important;
  height: 10px !important;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.jdgm-carousel-item {
  @apply !xbg-white !xrounded-3xl !xp-4 !xmr-8;
  width: calc(33.3% - 16px) !important;
}

.icon-row-section .icon svg {
  @apply !xmb-8;
  width: 65px;
  height: 65px;
  margin: auto;
}

@media (max-width: 800px) {
  .jdgm-carousel-item {
    width: 100% !important;
  }
}
/* JudgeMe Reviews End */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block !important;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #3f352a;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3f352a transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.questionaire-slide label {
  word-break: break-word;
}

.icon-text-container summary {
  font-family: 'Rooney';
  font-weight: 600;
}

.icon-text-container .summary-header {
  display: flex;
  gap: 1rem;
}

.icon-text-container .icon-container svg {
  height: 25px;
  width: 25px;
}

.icon-text-container summary .icon-caret {
  position: unset !important;
  transition: all 250ms ease-in-out;
}

details[open].icon-text-container summary .icon-caret {
  position: unset !important;
  rotate: 180deg;
}

.icon-text-container .icon-text-container__text {
  margin-top: 1rem;
  font-size: small;
}

.blog .slider-counter.caption {
  display: none;
}

.blog .slider-buttons {
  justify-content: flex-end !important;
  margin-right: 0.5rem !important;
}

.blog .slider-button {
  width: 26px !important;
}

.ur-suggestion {
  position: relative !important;
}

.ur-breed-result {
  @apply hover:xbg-beige-200 xrounded-3xl xcursor-pointer xp-4;
}

summary .icon-caret {
  position: absolute;
  height: 24px !important;
  width: 24px !important;
  right: 1.5rem;
  top: unset !important;
}

.header__menu-item .icon-caret {
  right: 0rem !important;
}

@media (max-width: 749px) {
  .icon-row-section.color-background-2,
  .ur-image-with-text.color-background-2,
  .multicolumn.color-accent-2 {
    background-attachment: unset !important;
    background-size: 1000px;
  }
}

.icon-row-section.color-background-2,
.ur-image-with-text.color-background-2,
.multicolumn.color-accent-2 {
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 2246px;
  background-image: url("data:image/svg+xml,%3Csvg id='f7bb6629-a681-4ac7-b792-fdee5e9520c1' data-name='Ebene 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1723.03 682.14'%3E%3Cdefs%3E%3Cstyle%3E.bacb9263-36e9-4a91-872c-d5cc46c9ef39%7Bfill:%23f2eee3;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EUnbenannt-3%3C/title%3E%3Ctext x='-59.4' y='-1.83'/%3E%3Ctext x='-59.4' y='-1.83'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M121.86,133a14,14,0,0,1-9.36-6.5,29.05,29.05,0,0,1-3.86-11.13,40.1,40.1,0,0,1-.59-10.08c.23-2.66.55-5.31.86-8a29,29,0,0,1,3.63-10.42,18.53,18.53,0,0,1,2-2.74c2.73-3.32,6.51-4.5,10.79-4.3a21.18,21.18,0,0,1,9.7,2.91,32.12,32.12,0,0,1,15,23.88,42.15,42.15,0,0,1-.07,6.55,23.23,23.23,0,0,1-2.35,8.59,18.27,18.27,0,0,1-12.92,10.14,38.21,38.21,0,0,1-10.21,1.33C123.38,133.2,122.38,133,121.86,133Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M197.06,95.1c1.75.76,3.69,1.43,5.44,2.4a10.65,10.65,0,0,1,5.6,8.73,23.69,23.69,0,0,1-.42,8.31c-.63,2.53-1.19,5.09-2,7.55a48.51,48.51,0,0,1-5,10.15c-2.77,4.37-5.95,8.43-10.54,11.31a15.24,15.24,0,0,1-16.23.09,77.14,77.14,0,0,1-7.24-5.21,15.64,15.64,0,0,1-5.54-9.3,21.31,21.31,0,0,1,.69-10.92c2.25-7.39,7-13.17,13.46-17.7a30,30,0,0,1,16-5.67C193.09,94.75,195,95,197.06,95.1Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M190.32,180.6A22.59,22.59,0,0,1,192.66,167a27.88,27.88,0,0,1,14.08-13.52,21.52,21.52,0,0,1,7.21-1.78A16,16,0,0,1,225,154.64a13.43,13.43,0,0,1,4.82,6.6c2.55,7.5.6,14.3-3.82,20.63A26.64,26.64,0,0,1,213,191.93c-5.86,2.09-11.61,2.06-16.83-1.71a13.46,13.46,0,0,1-5.2-7.41C190.72,182,190.51,181.27,190.32,180.6Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M60,124.85c1.61-5.9,5.31-9.91,11.8-11.32a17.08,17.08,0,0,1,5.62-.11,21.87,21.87,0,0,1,8.65,3,27.33,27.33,0,0,1,13.24,18.41,19.15,19.15,0,0,1,0,7.87,14.81,14.81,0,0,1-15.62,12.68A20.9,20.9,0,0,1,73,152.16a27.77,27.77,0,0,1-13.26-18.88A18.91,18.91,0,0,1,60,124.85Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M131.59,212.89c-15.36-7.68-55.71,6.33-50.78-22,5.93-34.19,57-45,74.7-34.7,43.29,25.3,25.11,69.1,15.72,77.78C153.2,250.61,143.32,218.76,131.59,212.89Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M253.17,469.37a14.06,14.06,0,0,1-10.94,3.19,29.32,29.32,0,0,1-11.08-4,40.42,40.42,0,0,1-8.2-5.89c-1.92-1.85-3.78-3.78-5.64-5.69a28.91,28.91,0,0,1-5.81-9.39,18.45,18.45,0,0,1-.89-3.24c-.86-4.22.6-7.89,3.46-11.09a21.26,21.26,0,0,1,8.36-5.71,32.18,32.18,0,0,1,28,3.43,42.93,42.93,0,0,1,5,4.18,23.06,23.06,0,0,1,5.19,7.23,18.3,18.3,0,0,1-.26,16.43,38.21,38.21,0,0,1-5.4,8.77C254.31,468.33,253.54,469,253.17,469.37Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M271.12,387.11c1.7-.88,3.44-2,5.3-2.71a10.63,10.63,0,0,1,10.3,1.15,23.48,23.48,0,0,1,6.19,5.56c1.57,2.08,3.21,4.12,4.59,6.34a48.51,48.51,0,0,1,4.73,10.26c1.66,4.9,2.8,9.93,2.15,15.31a15.26,15.26,0,0,1-10.14,12.66,76.71,76.71,0,0,1-8.61,2.35,15.69,15.69,0,0,1-10.72-1.56,21.25,21.25,0,0,1-8-7.42c-4.33-6.4-5.84-13.7-5.27-21.6a30.06,30.06,0,0,1,5.64-16C268.35,390,269.74,388.66,271.12,387.11Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M333.29,446.2a22.49,22.49,0,0,1-9.07-10.37,27.81,27.81,0,0,1-1.63-19.44,21.41,21.41,0,0,1,3.16-6.72,16.05,16.05,0,0,1,9.24-6.79,13.54,13.54,0,0,1,8.17.42c7.42,2.74,11.48,8.54,13.61,16a26.64,26.64,0,0,1-.42,16.48c-2.07,5.87-5.71,10.32-11.93,12a13.51,13.51,0,0,1-9-.62Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M207.88,512.32c-3.57-5-4.35-10.37-1.36-16.3a16.8,16.8,0,0,1,3.46-4.43,21.66,21.66,0,0,1,7.78-4.83,27.31,27.31,0,0,1,22.64,1.31,19.34,19.34,0,0,1,6.11,5,14.81,14.81,0,0,1,0,20.11,20.85,20.85,0,0,1-9.2,6.23,27.75,27.75,0,0,1-23-1.59A18.79,18.79,0,0,1,207.88,512.32Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M321.36,512.16c-15.64,7.09-30.17,47.25-49.11,25.55-22.81-26.15.93-72.65,20.11-79.88,46.91-17.68,69.48,24,70.31,36.79C364.27,519.14,333.32,506.74,321.36,512.16Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M508.15,87.65a14,14,0,0,1-10.94,3.18,29.32,29.32,0,0,1-11.08-4,40.42,40.42,0,0,1-8.2-5.89c-1.92-1.85-3.78-3.77-5.64-5.69a28.86,28.86,0,0,1-5.81-9.38,18.8,18.8,0,0,1-.89-3.25c-.86-4.22.6-7.89,3.46-11.09a21.26,21.26,0,0,1,8.36-5.71,32.18,32.18,0,0,1,28,3.43,42.93,42.93,0,0,1,5.05,4.18,23.11,23.11,0,0,1,5.19,7.24,18.27,18.27,0,0,1-.26,16.42,38.21,38.21,0,0,1-5.4,8.77C509.28,86.6,508.52,87.28,508.15,87.65Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M526.1,5.38c1.7-.88,3.44-2,5.3-2.71a10.63,10.63,0,0,1,10.3,1.15,23.65,23.65,0,0,1,6.19,5.56c1.57,2.08,3.21,4.12,4.59,6.34A48.51,48.51,0,0,1,557.21,26c1.65,4.91,2.8,9.93,2.15,15.31A15.24,15.24,0,0,1,549.21,54a76,76,0,0,1-8.6,2.35,15.69,15.69,0,0,1-10.72-1.56,21.17,21.17,0,0,1-8-7.42c-4.33-6.4-5.85-13.7-5.27-21.6a30,30,0,0,1,5.64-16C523.33,8.24,524.72,6.93,526.1,5.38Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M588.27,64.47a22.51,22.51,0,0,1-9.07-10.36,27.9,27.9,0,0,1-1.64-19.45,21.44,21.44,0,0,1,3.17-6.72A16.05,16.05,0,0,1,590,21.15a13.43,13.43,0,0,1,8.16.43c7.43,2.73,11.49,8.53,13.62,16A26.64,26.64,0,0,1,611.33,54c-2.07,5.87-5.71,10.32-11.93,12a13.51,13.51,0,0,1-9-.62Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M462.86,130.59c-3.57-5-4.35-10.37-1.36-16.3a16.8,16.8,0,0,1,3.46-4.43,21.71,21.71,0,0,1,7.77-4.83,27.33,27.33,0,0,1,22.65,1.31,19.34,19.34,0,0,1,6.11,5,14.82,14.82,0,0,1,0,20.12,20.91,20.91,0,0,1-9.2,6.22,27.77,27.77,0,0,1-23-1.59A18.85,18.85,0,0,1,462.86,130.59Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M576.34,130.43c-15.64,7.09-30.17,47.25-49.11,25.55-22.81-26.15.93-72.65,20.1-79.88,46.92-17.68,69.49,24,70.32,36.79C619.25,137.41,588.29,125,576.34,130.43Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M589.52,360.81a14.06,14.06,0,0,1-9.37-6.5,29,29,0,0,1-3.85-11.13,39.64,39.64,0,0,1-.59-10.08c.23-2.66.55-5.31.86-8a28.78,28.78,0,0,1,3.63-10.43,18.44,18.44,0,0,1,2-2.73c2.73-3.33,6.5-4.51,10.79-4.31a21.22,21.22,0,0,1,9.7,2.91,32.16,32.16,0,0,1,15,23.88,42.15,42.15,0,0,1-.07,6.55,23.17,23.17,0,0,1-2.35,8.59,18.27,18.27,0,0,1-12.92,10.14,38.34,38.34,0,0,1-10.22,1.33C591,361,590,360.86,589.52,360.81Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M664.72,322.93a58.7,58.7,0,0,1,5.44,2.41,10.64,10.64,0,0,1,5.6,8.72,23.68,23.68,0,0,1-.42,8.31c-.63,2.53-1.19,5.09-2,7.55a48.06,48.06,0,0,1-5,10.15c-2.76,4.37-5.94,8.43-10.53,11.31a15.24,15.24,0,0,1-16.23.09,78.9,78.9,0,0,1-7.24-5.2,15.7,15.7,0,0,1-5.54-9.31,21.31,21.31,0,0,1,.69-10.92c2.25-7.39,7-13.17,13.46-17.7a30,30,0,0,1,16-5.67C660.75,322.58,662.64,322.83,664.72,322.93Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M658,408.43a22.44,22.44,0,0,1,2.34-13.57,27.92,27.92,0,0,1,14.08-13.52,21.46,21.46,0,0,1,7.21-1.78,16,16,0,0,1,11.09,2.91,13.54,13.54,0,0,1,4.82,6.6c2.55,7.5.6,14.3-3.82,20.63a26.69,26.69,0,0,1-13.07,10.06c-5.87,2.09-11.61,2.07-16.83-1.71a13.53,13.53,0,0,1-5.21-7.41C658.38,409.87,658.17,409.1,658,408.43Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M527.64,352.68c1.61-5.9,5.31-9.91,11.8-11.32a16.81,16.81,0,0,1,5.62-.1,21.66,21.66,0,0,1,8.64,3A27.31,27.31,0,0,1,567,362.67a19.1,19.1,0,0,1,0,7.86,14.81,14.81,0,0,1-15.62,12.68A20.9,20.9,0,0,1,540.7,380a27.74,27.74,0,0,1-13.26-18.88A18.76,18.76,0,0,1,527.64,352.68Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M599.24,440.72c-15.35-7.68-55.7,6.33-50.77-22.05,5.93-34.19,57-45,74.7-34.7,43.28,25.3,25.11,69.1,15.72,77.79C620.86,478.44,611,446.59,599.24,440.72Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1025.54,609.27a14,14,0,0,1-10.95,3.18,29.09,29.09,0,0,1-11.07-4,40.14,40.14,0,0,1-8.2-5.89c-1.92-1.86-3.78-3.78-5.65-5.69a29,29,0,0,1-5.8-9.39,17.62,17.62,0,0,1-.89-3.24c-.87-4.22.6-7.89,3.45-11.09a21.19,21.19,0,0,1,8.37-5.71,32.2,32.2,0,0,1,28,3.43,41.87,41.87,0,0,1,5,4.18,23.06,23.06,0,0,1,5.19,7.23,18.26,18.26,0,0,1-.26,16.43,38.42,38.42,0,0,1-5.4,8.77C1026.67,608.23,1025.91,608.91,1025.54,609.27Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1043.49,527a58.49,58.49,0,0,1,5.3-2.71,10.63,10.63,0,0,1,10.3,1.14,23.69,23.69,0,0,1,6.19,5.57c1.57,2.08,3.2,4.12,4.58,6.34a48.55,48.55,0,0,1,4.74,10.26c1.65,4.9,2.8,9.93,2.15,15.31a15.24,15.24,0,0,1-10.15,12.66,75.52,75.52,0,0,1-8.61,2.34,15.59,15.59,0,0,1-10.72-1.56,21.29,21.29,0,0,1-8-7.41c-4.32-6.4-5.84-13.7-5.27-21.6a30,30,0,0,1,5.65-16C1040.72,529.87,1042.1,528.56,1043.49,527Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1105.65,586.1a22.49,22.49,0,0,1-9.07-10.37,27.94,27.94,0,0,1-1.63-19.45,21.74,21.74,0,0,1,3.16-6.72,16,16,0,0,1,9.24-6.78,13.53,13.53,0,0,1,8.17.42c7.43,2.74,11.48,8.54,13.62,16a26.64,26.64,0,0,1-.42,16.48c-2.07,5.88-5.71,10.33-11.93,12a13.51,13.51,0,0,1-9-.62Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M980.25,652.21c-3.58-5-4.35-10.37-1.36-16.3a16.71,16.71,0,0,1,3.46-4.42,21.48,21.48,0,0,1,7.77-4.83,27.34,27.34,0,0,1,22.65,1.31,19.19,19.19,0,0,1,6.1,5,14.78,14.78,0,0,1,0,20.11,20.84,20.84,0,0,1-9.19,6.23,27.77,27.77,0,0,1-23-1.59A18.78,18.78,0,0,1,980.25,652.21Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1093.73,652.06c-15.64,7.09-30.17,47.25-49.11,25.55-22.82-26.15.93-72.65,20.1-79.88,46.92-17.68,69.49,24,70.32,36.79C1136.64,659,1105.68,646.64,1093.73,652.06Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1238.65,135.24a14,14,0,0,1-9.36-6.49,29,29,0,0,1-3.86-11.14,40,40,0,0,1-.59-10.07c.23-2.66.55-5.32.86-8a29,29,0,0,1,3.63-10.42,18,18,0,0,1,2-2.74c2.73-3.33,6.51-4.5,10.79-4.3a21.2,21.2,0,0,1,9.7,2.9,32.16,32.16,0,0,1,15,23.88,42.27,42.27,0,0,1-.07,6.56,23.12,23.12,0,0,1-2.35,8.58,18.26,18.26,0,0,1-12.92,10.15,38.26,38.26,0,0,1-10.21,1.33C1240.17,135.47,1239.17,135.3,1238.65,135.24Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1313.85,97.36c1.75.77,3.69,1.44,5.44,2.41a10.65,10.65,0,0,1,5.6,8.72,23.73,23.73,0,0,1-.42,8.32c-.63,2.53-1.19,5.08-2,7.55a48.3,48.3,0,0,1-5,10.15c-2.76,4.37-5.94,8.42-10.53,11.3a15,15,0,0,1-9.59,2.33,15.23,15.23,0,0,1-6.64-2.23,77.14,77.14,0,0,1-7.24-5.21,15.64,15.64,0,0,1-5.54-9.31,21.27,21.27,0,0,1,.69-10.91c2.25-7.39,7-13.17,13.46-17.7a30,30,0,0,1,16-5.67C1309.88,97,1311.77,97.26,1313.85,97.36Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1307.11,182.87a22.64,22.64,0,0,1,2.34-13.58,27.86,27.86,0,0,1,14.08-13.51,21.52,21.52,0,0,1,7.21-1.78,16,16,0,0,1,11.09,2.9,13.46,13.46,0,0,1,4.82,6.61c2.55,7.5.6,14.29-3.82,20.63a26.57,26.57,0,0,1-13.07,10.05c-5.86,2.1-11.61,2.07-16.83-1.7a13.5,13.5,0,0,1-5.2-7.41C1307.51,184.31,1307.3,183.54,1307.11,182.87Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1176.77,127.12c1.61-5.91,5.31-9.91,11.8-11.32a16.81,16.81,0,0,1,5.62-.11,21.71,21.71,0,0,1,8.65,3,27.31,27.31,0,0,1,13.24,18.41,19.14,19.14,0,0,1,0,7.87,14.83,14.83,0,0,1-15.62,12.68,21,21,0,0,1-10.63-3.22,27.81,27.81,0,0,1-13.26-18.88A18.9,18.9,0,0,1,1176.77,127.12Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1248.38,215.16c-15.36-7.68-55.71,6.33-50.78-22.06,5.93-34.18,57-45,74.7-34.7,43.29,25.3,25.11,69.1,15.72,77.79C1270,252.88,1260.11,221,1248.38,215.16Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M932.58,281.36a14,14,0,0,1-9.37-6.49,29.21,29.21,0,0,1-3.86-11.14,40.54,40.54,0,0,1-.59-10.08c.23-2.65.55-5.31.86-8a29,29,0,0,1,3.64-10.42,17.35,17.35,0,0,1,2-2.74c2.73-3.33,6.5-4.5,10.78-4.3a21.21,21.21,0,0,1,9.71,2.9,32.25,32.25,0,0,1,15,23.88,42.27,42.27,0,0,1-.07,6.56,23.12,23.12,0,0,1-2.35,8.58,18.3,18.3,0,0,1-12.92,10.15,38.34,38.34,0,0,1-10.22,1.33C934.1,281.59,933.09,281.42,932.58,281.36Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1007.78,243.48c1.75.77,3.69,1.44,5.44,2.41a10.62,10.62,0,0,1,5.59,8.72,23.51,23.51,0,0,1-.42,8.32c-.63,2.53-1.18,5.08-2,7.55a49.29,49.29,0,0,1-5,10.15c-2.77,4.37-6,8.42-10.53,11.3a15.22,15.22,0,0,1-16.23.1,74.61,74.61,0,0,1-7.24-5.21,15.61,15.61,0,0,1-5.55-9.31,21.28,21.28,0,0,1,.7-10.91c2.24-7.39,7-13.17,13.46-17.7a30,30,0,0,1,15.95-5.67C1003.81,243.14,1005.7,243.38,1007.78,243.48Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1001,329a22.49,22.49,0,0,1,2.34-13.58,27.9,27.9,0,0,1,14.07-13.52,21.8,21.8,0,0,1,7.22-1.77,16,16,0,0,1,11.08,2.9,13.4,13.4,0,0,1,4.82,6.61c2.55,7.5.61,14.29-3.82,20.63a26.54,26.54,0,0,1-13.06,10.05c-5.87,2.1-11.62,2.07-16.83-1.7a13.51,13.51,0,0,1-5.21-7.41C1001.43,330.43,1001.22,329.66,1001,329Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M870.7,273.24c1.6-5.91,5.31-9.91,11.8-11.32a16.8,16.8,0,0,1,5.62-.11,21.67,21.67,0,0,1,8.64,3A27.32,27.32,0,0,1,910,283.22a19.15,19.15,0,0,1,0,7.87,14.81,14.81,0,0,1-15.61,12.68,20.93,20.93,0,0,1-10.63-3.22,27.78,27.78,0,0,1-13.26-18.88A18.62,18.62,0,0,1,870.7,273.24Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M942.3,361.28c-15.36-7.68-55.71,6.33-50.78-22.06,5.94-34.18,57-45,74.7-34.7,43.29,25.3,25.11,69.1,15.73,77.79C963.91,399,954,367.15,942.3,361.28Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1346.83,438a14,14,0,0,1-10.94,3.18,29.13,29.13,0,0,1-11.08-4,40.46,40.46,0,0,1-8.2-5.9c-1.92-1.85-3.78-3.77-5.64-5.68a29,29,0,0,1-5.81-9.39,18.32,18.32,0,0,1-.89-3.25c-.86-4.21.6-7.88,3.46-11.08a21.15,21.15,0,0,1,8.36-5.71,29.84,29.84,0,0,1,18.26-.79,29.48,29.48,0,0,1,9.71,4.22,41,41,0,0,1,5,4.18,23.06,23.06,0,0,1,5.19,7.23,18.3,18.3,0,0,1-.26,16.43,38.12,38.12,0,0,1-5.41,8.77C1348,437,1347.2,437.62,1346.83,438Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1364.78,355.72c1.7-.87,3.44-2,5.3-2.71a10.66,10.66,0,0,1,10.3,1.15,23.69,23.69,0,0,1,6.19,5.57c1.57,2.08,3.21,4.12,4.58,6.33a48.86,48.86,0,0,1,4.74,10.27c1.65,4.9,2.8,9.93,2.15,15.3a15.24,15.24,0,0,1-10.15,12.67,78.07,78.07,0,0,1-8.6,2.34,15.67,15.67,0,0,1-10.73-1.56,21.19,21.19,0,0,1-8-7.41c-4.33-6.4-5.85-13.71-5.27-21.61a30,30,0,0,1,5.64-16C1362,358.59,1363.39,357.27,1364.78,355.72Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1427,414.82a22.43,22.43,0,0,1-9.07-10.37,27.89,27.89,0,0,1-1.64-19.45,21.54,21.54,0,0,1,3.17-6.72,16,16,0,0,1,9.24-6.78,13.43,13.43,0,0,1,8.16.42c7.43,2.74,11.49,8.53,13.62,16a26.64,26.64,0,0,1-.42,16.48c-2.07,5.88-5.71,10.33-11.93,12a13.51,13.51,0,0,1-9-.62Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1301.54,480.93c-3.57-5-4.35-10.37-1.36-16.3a17.13,17.13,0,0,1,3.46-4.43,21.68,21.68,0,0,1,7.77-4.82,27.33,27.33,0,0,1,22.65,1.31,19.2,19.2,0,0,1,6.11,5,14.81,14.81,0,0,1,0,20.11A20.93,20.93,0,0,1,1331,488a27.77,27.77,0,0,1-23-1.59A18.87,18.87,0,0,1,1301.54,480.93Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1415,480.78c-15.64,7.09-30.17,47.25-49.11,25.54-22.82-26.14.93-72.64,20.1-79.87,46.92-17.69,69.49,24,70.32,36.79C1457.93,487.75,1427,475.36,1415,480.78Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1581,183.1a14,14,0,0,1-10.94,3.18,29.15,29.15,0,0,1-11.08-4,40,40,0,0,1-8.2-5.89c-1.92-1.85-3.78-3.77-5.64-5.69a28.86,28.86,0,0,1-5.81-9.38,18.8,18.8,0,0,1-.89-3.25c-.86-4.22.6-7.89,3.46-11.09a21.26,21.26,0,0,1,8.36-5.71,32.18,32.18,0,0,1,28,3.43,42.93,42.93,0,0,1,5,4.18,23.11,23.11,0,0,1,5.19,7.24,18.27,18.27,0,0,1-.26,16.42,38.21,38.21,0,0,1-5.4,8.77C1582.12,182.05,1581.35,182.73,1581,183.1Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1598.93,100.83c1.7-.88,3.44-2,5.3-2.71a10.63,10.63,0,0,1,10.3,1.15,23.65,23.65,0,0,1,6.19,5.56c1.57,2.08,3.21,4.13,4.59,6.34a48.9,48.9,0,0,1,4.74,10.27c1.65,4.9,2.79,9.92,2.14,15.3a15.26,15.26,0,0,1-10.14,12.66,76.71,76.71,0,0,1-8.61,2.35,15.64,15.64,0,0,1-10.72-1.56,21.17,21.17,0,0,1-8-7.42c-4.33-6.4-5.84-13.7-5.27-21.6a30.06,30.06,0,0,1,5.64-16C1596.17,103.7,1597.55,102.38,1598.93,100.83Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1661.1,159.92a22.51,22.51,0,0,1-9.07-10.36,27.84,27.84,0,0,1-1.63-19.45,21.41,21.41,0,0,1,3.16-6.72,16,16,0,0,1,9.24-6.78,13.39,13.39,0,0,1,8.17.42c7.42,2.74,11.48,8.53,13.61,16a26.64,26.64,0,0,1-.42,16.48c-2.07,5.87-5.71,10.32-11.92,12a13.54,13.54,0,0,1-9-.63Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1535.69,226c-3.57-5-4.35-10.37-1.36-16.3a17,17,0,0,1,3.46-4.43,21.74,21.74,0,0,1,7.78-4.83,27.31,27.31,0,0,1,22.64,1.31,19.48,19.48,0,0,1,6.11,5,14.82,14.82,0,0,1,0,20.12,20.91,20.91,0,0,1-9.2,6.22,27.75,27.75,0,0,1-23-1.59A18.79,18.79,0,0,1,1535.69,226Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1649.17,225.88c-15.63,7.09-30.17,47.25-49.11,25.55-22.81-26.15.93-72.65,20.11-79.88,46.91-17.68,69.48,24,70.31,36.79C1692.08,232.86,1661.13,220.46,1649.17,225.88Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1673.3,485.59a14.06,14.06,0,0,1-9.37-6.5,29.22,29.22,0,0,1-3.86-11.13,40.57,40.57,0,0,1-.59-10.08c.23-2.66.56-5.31.87-8a28.85,28.85,0,0,1,3.63-10.43,18.44,18.44,0,0,1,2-2.73c2.73-3.33,6.5-4.5,10.79-4.3a21.08,21.08,0,0,1,9.7,2.9,32.25,32.25,0,0,1,15,23.88,42.13,42.13,0,0,1-.07,6.55,23.12,23.12,0,0,1-2.35,8.59,18.25,18.25,0,0,1-12.92,10.14,37.93,37.93,0,0,1-10.22,1.33C1674.82,485.81,1673.81,485.65,1673.3,485.59Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1748.5,447.71a58.7,58.7,0,0,1,5.44,2.41,10.64,10.64,0,0,1,5.6,8.72,23.68,23.68,0,0,1-.43,8.31c-.62,2.53-1.18,5.09-2,7.56a48.71,48.71,0,0,1-5,10.14c-2.76,4.37-5.95,8.43-10.53,11.31a15.28,15.28,0,0,1-16.23.1,76.35,76.35,0,0,1-7.24-5.21,15.65,15.65,0,0,1-5.54-9.31,21.17,21.17,0,0,1,.69-10.91c2.25-7.4,7-13.17,13.46-17.71a30,30,0,0,1,16-5.67C1744.53,447.36,1746.42,447.61,1748.5,447.71Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1741.76,533.21a22.44,22.44,0,0,1,2.34-13.57,27.92,27.92,0,0,1,14.08-13.52,21.46,21.46,0,0,1,7.21-1.78,16.05,16.05,0,0,1,11.09,2.91,13.44,13.44,0,0,1,4.81,6.61c2.56,7.49.61,14.29-3.82,20.62a26.62,26.62,0,0,1-13.06,10.06c-5.87,2.09-11.62,2.07-16.83-1.7a13.55,13.55,0,0,1-5.21-7.41C1742.15,534.66,1742,533.88,1741.76,533.21Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1611.42,477.47c1.6-5.91,5.31-9.92,11.8-11.33a16.8,16.8,0,0,1,5.62-.1,21.52,21.52,0,0,1,8.64,3,27.27,27.27,0,0,1,13.25,18.41,19.32,19.32,0,0,1,0,7.87A14.81,14.81,0,0,1,1635.11,508a20.9,20.9,0,0,1-10.63-3.22,27.74,27.74,0,0,1-13.26-18.88A18.71,18.71,0,0,1,1611.42,477.47Z' transform='translate(-59.4 -1.83)'/%3E%3Cpath class='bacb9263-36e9-4a91-872c-d5cc46c9ef39' d='M1683,565.5c-15.36-7.68-55.7,6.33-50.78-22,5.94-34.19,57-45,74.7-34.7,43.29,25.3,25.12,69.1,15.73,77.79C1704.64,603.22,1694.76,571.37,1683,565.5Z' transform='translate(-59.4 -1.83)'/%3E%3C/svg%3E") !important;
}

@property --progress-value {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

:root {
  --progress-bar-color: #cfd8dc;
  --progress-value-color: #2196f3;
  --progress-empty-color-h: 4.1;
  --progress-empty-color-s: 89.6;
  --progress-empty-color-l: 58.4;
  --progress-filled-color-h: 122.4;
  --progress-filled-color-s: 39.4;
  --progress-filled-color-l: 49.2;
}

progress[value] {
  display: block;
  position: relative;
  appearance: none;
  width: 100%;
  height: 6px;
  border: 0;
  --border-radius: 10px;
  border-radius: var(--border-radius);
  counter-reset: progress var(--progress-value);
  --progress-value-string: counter(progress) '%';
  --progress-max-decimal: calc(var(--value, 0) / var(--max, 0));
  --progress-value-decimal: calc(var(--progress-value, 0) / var(--max, 0));
  @supports selector(::-moz-progress-bar) {
    --progress-value-decimal: calc(var(--value, 0) / var(--max, 0));
  }
  --progress-value-percent: calc(var(--progress-value-decimal) * 100%);
  --progress-value-color: hsl(
    calc(
        (
            var(--progress-empty-color-h) +
              (var(--progress-filled-color-h) - var(--progress-empty-color-h)) *
              var(--progress-value-decimal)
          ) * 1deg
      )
      calc(
        (
            var(--progress-empty-color-s) +
              (var(--progress-filled-color-s) - var(--progress-empty-color-s)) *
              var(--progress-value-decimal)
          ) * 1%
      )
      calc(
        (
            var(--progress-empty-color-l) +
              (var(--progress-filled-color-l) - var(--progress-empty-color-l)) *
              var(--progress-value-decimal)
          ) * 1%
      )
  );
  animation: calc(3s * var(--progress-max-decimal)) linear 0.5s 1 normal both
    progress;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--progress-bar-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

progress[value]::-webkit-progress-value {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

progress[value]::-moz-progress-bar {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

@keyframes progress {
  from {
    --progress-value: 0;
  }
  to {
    --progress-value: var(--value);
  }
}

.tippy-box[data-theme~='unclerustys'] {
  @apply xrounded-3xl xp-4;
  background-color: white;
  color: var(--ur-base);
  border: 2px solid var(--ur-base);
}

.hero-container {
  position: relative;
}

#hero-mountains {
  position: absolute;
  bottom: 0;
  z-index: 999999;
}

.hero-image {
  width: 100%;
  height: 100%;
  max-height: 700px;
  min-height: 450px;
  object-fit: cover;
  opacity: 0.8;
}

.hero-image.dark {
  opacity: 1;
}

.ur-next-hero:after,
.ur-prev-hero:after {
  @apply !xtext-beige-300;
}

.swiper-pagination-bullet {
  @apply !xbg-beige-300;
  opacity: 0.4 !important;
}
.swiper-pagination-bullet-active {
  opacity: 1 !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 60px !important;
}
.ur-hero-swiper {
  max-height: 700px;
  overflow: clip;
}
.hero-slide-content {
  position: absolute;
}

.richtext-hero {
  max-width: 450px;
}
.richtext-fullwidth {
  max-width: 50%;
}

.ur-hero-swiper .swiper-slide {
  background-color: black;
  height: 700px;
}

.hero-slide-content p {
  @apply !xfont-semibold;
}

#bab-button {
  padding: 1rem 3rem;
}

@media (max-width: 800px) {
  .accordion__title.h4 {
    font-size: 1.65rem !important;
    line-height: 2.2rem !important;
    font-weight: 600 !important;
  }

  .richtext-fullwidth {
    max-width: 100%;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 40px !important;
  }

  .ur-next-hero,
  .ur-prev-hero {
    display: none !important;
  }

  .ur-hero-swiper .swiper-slide {
    height: 500px;
  }
}
.jdgm-carousel-wrapper {
  padding-bottom: 0px !important;
}

.image-with-text__grid--reverse .image-with-text__content {
  padding: 4rem 6rem 4rem 0 !important;
}

.image-with-text__content {
  padding: 4rem 0rem 4rem 6rem !important;
}

.multirow__inner .image-with-text__grid--reverse .image-with-text__content,
.multirow__inner .image-with-text__content {
  padding: 6rem !important;
}

@media (max-width: 749px) {
  .image-with-text__grid--reverse .image-with-text__content {
    padding: 4rem 0rem 4rem 0 !important;
  }

  .image-with-text__content {
    padding: 4rem 0rem 4rem 0rem !important;
  }
}
.icon-text-block {
  hyphens: auto !important;
}

.image-with-text__media.global-media-settings {
  background-color: transparent;
}

.crop.image-with-text__media img {
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 447.8 447.79' id='ur-clip' %3E%3Cdefs%3E%3Cstyle%3E .a8857b8c-5c24-4c4f-8fc3-27df3b233708%7Bisolation:isolate;%7D.e9df7ec3-8ade-4e48-ab3d-fcb5705c9388%7Bfill:%2393b8c7;fill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Cg id='af7f57e7-2ea9-4803-86da-e91186ca304d' data-name='Rechteck 3' class='a8857b8c-5c24-4c4f-8fc3-27df3b233708'%3E%3Cg id='e05d2d14-8d3f-40a2-82e4-0b24f4ff9aa4' data-name='Rechteck 3'%3E%3Cpath class='e9df7ec3-8ade-4e48-ab3d-fcb5705c9388' d='M350,3.11,103.64,18.43C48,21.9,2.9,68.22,2.9,121.9V359.56C2.9,413.24,48,454,103.64,450.49L350,435.17C405.6,431.7,450.7,385.38,450.7,331.7V94C450.7,40.36,405.6-.35,350,3.11Z' transform='translate(-2.9 -2.9)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 447.8 447.79' id='ur-clip' %3E%3Cdefs%3E%3Cstyle%3E .a8857b8c-5c24-4c4f-8fc3-27df3b233708%7Bisolation:isolate;%7D.e9df7ec3-8ade-4e48-ab3d-fcb5705c9388%7Bfill:%2393b8c7;fill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Cg id='af7f57e7-2ea9-4803-86da-e91186ca304d' data-name='Rechteck 3' class='a8857b8c-5c24-4c4f-8fc3-27df3b233708'%3E%3Cg id='e05d2d14-8d3f-40a2-82e4-0b24f4ff9aa4' data-name='Rechteck 3'%3E%3Cpath class='e9df7ec3-8ade-4e48-ab3d-fcb5705c9388' d='M350,3.11,103.64,18.43C48,21.9,2.9,68.22,2.9,121.9V359.56C2.9,413.24,48,454,103.64,450.49L350,435.17C405.6,431.7,450.7,385.38,450.7,331.7V94C450.7,40.36,405.6-.35,350,3.11Z' transform='translate(-2.9 -2.9)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.product__accordion details {
  background-color: #ece7d8;
}

.product__accordion.accordion {
  border-color: transparent;
  margin-bottom: 1rem;
}

.product__accordion.accordion .accordion__title.h4 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 500 !important;
}

.product__accordion.accordion .accordion__content {
  padding: 0 2rem 2rem 2rem;
}

@media screen and (min-width: 990px) {
  .product--large:not(.product--no-media) .product__media-wrapper {
    max-width: 60% !important;
    width: calc(60% - var(--grid-desktop-horizontal-spacing) / 2) !important;
  }
  .product--large:not(.product--no-media) .product__info-wrapper {
    padding: 0 0 0 4rem;
    max-width: 40% !important;
    width: calc(40% - var(--grid-desktop-horizontal-spacing) / 2) !important;
  }
}

.jdgm-write-rev-link.jdgm-write-rev-link {
  border-radius: 999px;
  padding: 1.5rem;
}

.accordion__content p:empty {
  display: block;
  height: 1.5rem;
}

.article-template li {
  list-style: auto !important;
}

.article-template ol {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fullwidth-banner .background {
  background-size: cover;
  background-position: center;
}

.hero-image-mobile {
  display: none;
}

@media (max-width: 800px) {
  .hero-image-mobile {
    display: block;
  }

  .hero-image.has-mobile-image {
    display: none;
  }

  .fullwidth-banner .background {
    background-color: #00000070;
    background-blend-mode: darken;
    filter: blur(2px);
  }

  .fullwidth-banner.dark .background {
    background-color: #ece7d861;
    background-blend-mode: lighten;
    filter: blur(2px);
  }

  .hero-image.blur {
    filter: blur(2px);
    scale: 1.1;
    opacity: 0.8;
  }
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide.dark-text {
  background-color: #f2eee3;
}

.fullwidth-banner.desktop-blur .background {
  background-color: #00000070;
  background-blend-mode: darken;
  filter: blur(2px);
}

.fullwidth-banner.desktop-blur.dark .background {
  background-color: #ece7d861;
  background-blend-mode: lighten;
  filter: blur(2px);
}

.multirow__inner .image-with-text__media img {
  object-fit: contain;
}

.image-with-text__media.rounded {
  border-radius: 25px !important;
  overflow: hidden !important;
}
.bsub-widget__plan-pricing {
  flex-shrink: 0;
  color: #6b8f71;
}

.bsub-widget__plan-pricing span {
  color: #6b8f71;
}
.product-form__buttons {
  max-width: 48rem !important;
}

.list-menu--disclosure {
  width: 23rem;
}

.footer__copyright.caption .copyright__content {
  display: none;
}

.footer__copyright.caption .copyright__content:first-child {
  display: block;
}

ul {
  list-style: disc;
}

.collection-list__item img {
  height: 135px;
  -o-object-fit: contain;
  object-fit: contain;
  object-position: left;
  object-position: bottom;
}

.rich-text__heading,
.card__heading {
  word-break: break-word;
  hyphens: auto;
  text-wrap: balance;
}

.custom-number-input {
  touch-action: manipulation;
}
